dist
CNVoyant.egg-info
build
CNVoyant/data/*
CNVoyant/liftover/temp
!CNVoyant/data/hi_ts_regions.csv
!CNVoyant/data/gene_positions.csv
!CNVoyant/data/gnomad4.bed.gz
!CNVoyant/data/exons.bed
!CNVoyant/data/gnomad_frequencies.csv
!CNVoyant/data/reg_regions.bed
*.cpython*
