include CNVoyant/data/*
include CNVoyant/liftover/paths.json
include CNVoyant/classifier/models/scalers.pickle
exclude CNVoyant/classifier/models/dup_model.pickle
exclude CNVoyant/classifier/models/del_model.pickle
exclude CNVoyant/data/phylop_mvg_avg.bw
exclude CNVoyant/data/phastcons_mvg_avg.bw